.TButton {
  width: 30%;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  border: 2px  solid darkcyan;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TagButton {
  padding: 5px;
  margin: 5px;
  background-color: blueviolet;
  color: #fff;
  cursor: pointer;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
}

.TagButton:hover {
  background-color: #3897f0;
}
 

 
 